html{
    scroll-behavior: smooth;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color: darkolivegreen;
    background-color: aliceblue;
    margin: auto;
    max-width: 54rem;
}
section{
    margin: 3rem auto;
}

h1{
    transition: translate 0.3s ease;
}
h1:hover{
    translate: 1rem;
}

table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid lightskyblue;
    padding: 0.5rem;
}
th{
    background-color: lightblue;
}